.disable-selection {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.character-creation {
    display: none;
}

.dropdown-container1 {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10; /* Make sure it's above the canvas */
  }

  .dropdown-container2 {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 10; /* Make sure it's above the canvas */
  }

  .zoom-button {
    width: 28px;
    height: 20px;
  }

  .select-zoom {
    display: flex;
    flex-direction: row;
  }

  select {
    width: 110px;
  }

  #hairColorPicker {
    width: 20px;
    height: 20px;
    padding: 0;
  }

  #play {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-bottom: 20px;
    width: 80px;
    z-index: 10;
  }

  #char-name {
  }

  .name-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 10px;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: white;
  }